<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= if assigns[:title] do %><%= assigns[:title] %> - <% end %>TV Episodes</title>
		<link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>" />
		<script type="text/javascript">
		(function() {
			var po = document.createElement('script');
			po.type = 'text/javascript'; po.async = true;
			po.src = 'https://plus.google.com/js/client:plusone.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(po, s);
		})();
		</script>
	</head>
	<body id="account">
		<div id="auth">
			<ul>
				<%= if @current_user do %>
				<li><a href="<%= account_path(@conn, :logout) %>">logout</a></li>
				<li style="margin-right:10px;padding-right:10px;border-right:1px #eee solid;">
					<a href="<%= account_path(@conn, :account) %>"><%= @current_user.username %></a></li>

					<%= if @current_user.is_developer do %>
						<li style="margin-top:3px;margin-right:5px"><img src="<%= static_path(@conn, "/images/dev_tag.png") %>"</li>
					<% end %>

					<%= if @current_user.is_admin do %>
						<li style="margin-top:3px;margin-right:5px"><img src="<%= static_path(@conn, "/images/admin_tag.png") %>"</li>
					<% end %>
				<%= else %>
					<li><a href="<%= account_path(@conn, :register_create) %>">register</a></li>
					<li style="margin-right:10px;padding-right:10px;border-right:1px #eee solid;"><a href="<%= account_path(@conn, :login) %>">login</a></li>
				<% end %>
			</ul>
			<div class="clear"></div>
		</div>
		<div id="outer">
			<div id="header">
				<div id="logo">
					<a href="<%= recent_path(@conn, :index) %>"><img src="<%= static_path(@conn, "/images/kirrupt_logo.png") %>" /></a>
				</div>

				<div id="menu">
					<ul>
						<%= if @current_user do %>
							<li><a href="<%= account_path(@conn, :account) %>">my account</a></li>
						<% end %>
						<li><a href="<%= recent_path(@conn, :index) %>">TV episodes</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

			<div id="title">
				<%= render_existing @view_module, "body-title.html", assigns %>
			</div>

			<div id="body">
				<div class="inner" id="content_ajax">
		      <div id="alert-box">
		        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
		        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
		      </div>
						<!-- <ul class=flashes>
							<li class="{{ category }}">{{ message }}</li>
						</ul> -->
						<%= render @view_module, @view_template, assigns %>
				</div>
			</div>


		</div>


		<div id="footer" style="text-align:right">
			<a href="{{url_for('about_contactus')}}">contact us</a> <span style="color:#ddd">|</span>
			&copy; Kirrupt 2016
		</div>

		<div id="spacer"></div>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	</body>
</html>
