<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= if assigns[:title] do %><%= assigns[:title] %> - <% end %>TV Episodes</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
		<%= if assigns[:background] do %>
			<style>
			body{
				background:#f4f4f4 url('<%= static_path(@conn, "/#{assigns[:background]}") %>') fixed;
				background-position:center 97px;
				background-size: 100% auto;
			}
			</style>
		<% end %>
		<%= if assigns[:show] && assigns[:show].fixed_background do %>
			<style>
			body{
				background:#f4f4f4 url('<%= static_path(@conn, "/#{assigns[:show].fixed_background}") %>') fixed;
				background-position:center 97px;
				background-size: 100% auto;
			}
			</style>
		<% end %>
	</head>
	<body class="<%= assigns[:html_class] %>">
		<div id="head_spacer"></div>
		<div id="header_wrapper">
			<div id="beta"></div>
			<div id="auth">
				<ul>
					<%= if @current_user do %>
					<li><a href="<%= account_path(@conn, :logout) %>">logout</a></li>
					<li style="margin-right:10px;padding-right:10px;border-right:1px #eee solid;">
						<a href="<%= account_path(@conn, :account) %>"><%= @current_user.username %></a>
					</li>
					<%= if @current_user.is_admin do %>
						<li style="margin-right:10px;padding-right:10px;border-right:1px #eee solid;">
							<a href="/admin/dashboard">phx.dashboard</a>
						</li>
					<% end %>
					<% else %>
					<li><a href="<%= account_path(@conn, :register_new) %>">register</a></li>
					<li style="margin-right:10px;padding-right:10px;border-right:1px #eee solid;"><a href="<%= account_path(@conn, :login) %>">login</a></li>
					<% end %>
				</ul>
				<div class="clear"></div>
			</div>
			<div id="header" style="">
				<div id="logo">
					<a href="<%= recent_path(@conn, :index) %>"><div><img src="<%= static_path(@conn, "/images/logo.png") %>" /></div></a>
				</div>

				<div id="menu">
					<ul>
						<%= if @current_user do %>
  						<li><a href="<%= recent_path(@conn, :index) %>"<%= if @conn.request_path == "/" do %> class="selected"<% end %>>recent</a></li>
  						<li><a href="<%= show_path(@conn, :my_shows) %>"<%= if @conn.request_path == "/my-shows" || @conn.request_path == "/add" || assigns[:show] do %> class="selected"<% end %>>shows</a></li>
  						<li><a href="<%= time_wasted_path(@conn, :index) %>"<%= if @conn.request_path == "/time-wasted" do %> class="selected"<% end %>>time wasted</a></li>
						<% else %>
						  <li><a href="<%= recent_path(@conn, :index) %>" class="selected">recent</a></li>
						<% end %>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<div id="body_wrapper">
      <div id="alert-box">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      </div>
			<div id="title">
        <%= render_existing @view_module, "body-title.html", assigns %>
			</div>
			<div id="body">
				<div class="inner" id="content_ajax">
          <%= @inner_content %>
				</div>


			<div id="footer" style="text-align:right;margin-top:20px">
				&copy; Kirrupt 2020
			</div>
			</div>

			<div id="spacer"></div>
		</div>



		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= render_existing @view_module, "scripts.html", assigns %>

	<%= if @current_user && @current_user.is_premium && Application.get_env(:kirrupt_tv, KirruptTv.Endpoint)[:premium_script_url] do %>
		<script src="<%= Application.get_env(:kirrupt_tv, KirruptTv.Endpoint)[:premium_script_url] %>"></script>
	<% end %>

    <script>
			function mark_as_url(episode_id, mark_as_watched) {
				var url = '<%= episode_path(@conn, :mark_as_watched, "replace") %>';
				if(!mark_as_watched) {
					url = '<%= episode_path(@conn, :mark_as_unwatched, "replace") %>';
				}

				return url.replace("replace", episode_id)
			}
		</script>
	</body>
</html>
