<div class="search">
	<form action="<%= Routes.page_path(@conn, :search) %>">
		<input type="text" id="search_q" data-title="<%= assigns[:search_query] %>" autocomplete="off" name="q" value="<%= assigns[:search_query] %>" />
		<button></button>
	</form>
</div>
